<div id="page-content"></div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
  <div class="container text-center">
    <%= "[b]Copyright [i]Your[/i] Website[/b]".bbcode_to_html.html_safe %>  
  </div>
</footer>